<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }}">
    <meta name="author" content="Werner Veldman">
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    
    
  </head>
<body>
   <div id='container'>
     <p> {{ content }}</p>
   </div>
</body>
 
  <script>
  var map = L.map('container').setView([53.1718699,6.3771736], 12);
  var wmsLayer = L.tileLayer.wms('https://geodata.nationaalgeoregister.nl/top25raster/ows?SERVICE=WMS&', {
   layers: 'top25raster',  minZoom: 12,
  maxZoom: 17}).addTo(map);
  
  </script>
</html>
